<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Know.me</title>
    <meta name="description" content="">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="<%=image_path("favicon.png")%>">
    <link rel="icon" href="<%=image_path("favicon.png")%>" type="image/png">
    <link rel="shortcut icon" href="<%=image_path("favicon.png")%>" type="image/x-icon">
    <!-- Favicons End -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Open+sans:500" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav id="navigation">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="<%=root_path%>" class="logo-brand">
                        <img src="<%=image_path("logo.png")%>">
                    </a>
                    <ul class="float-right">
                        <% if current_user.blank? %>
                          <li >
                            <a href="<%=new_user_path%>">Sign up</a>
                          </li>
                          <li >
                            <a href="<%=users_path%>">Log in</a>
                          </li>
                        <% else %>
                          <li >
                            <%= link_to 'Logout', api_v1_logout_path(id: current_user.id), method: :delete, confirm: "Are you sure?", title: "Logout #{current_user.email}" %>
                          </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <% flash.each do |key, value| %>
      <% if key == 'auth_token' %>
        <script type="text/javascript">localStorage.setItem("auth_token", "<%=value%>");</script>
      <% else %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <% end %>

    <%= yield %>

  </body>
</html>
